<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Css/types.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Client</h2>
                <p>Sign in as a client</p>
                <a href="{{ url_for('client') }}"> Click Here</a>
            </div>
        </div>

        <div class="box">
            <span></span>
            <div class="content">
                <h2>company</h2>
                <p>Sign in as a company</p>
                <a href="{{ url_for('company') }}"> Click Here</a>
            </div>
        </div>

        <div class="box">
            <span></span>
            <div class="content">
                <h2>Worker</h2>
                <p>Sign in as a worker</p>
                <a href="{{ url_for('worker') }}">Click Here</a>
            </div>
        </div>
    </div>
</body>
</html>